.profile__edit-button{
  height: 24px;
  width: 24px;
  background-color: #000;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  margin-left: 18px;
}

@media screen and (max-width:920px) {
  .profile__edit-button{
    height: 18px;
    width: 18px;
    margin-left: 10px;
    margin-right: auto;
  }
}
