.header{
  max-height: 74px;
  height: calc(56px + (74 - 56) * ( (100vw - 320px) / ( 1280 - 320) ));
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width:920px) {
  .header{
    padding-top: calc(28px + (45 - 28) * ( (100vw - 320px) / ( 920 - 320) ));
  }
}
